@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/*General Styling*/
:root{

    /*color codes*/
    --instagram-blue: #0595F6;
    --light-blue: #0F4173;
    --dark-blue: #00376B;
    --light-grey: #FAFAFA;
    --dark-grey: #A1A1A1;
    --mild-grey: #DBDBDB;
}

html {
    font-size: 62.5%;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: var(--light-grey);
}

*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5rem 2rem;
}

.inline{
    display: flex;
}

/*Component based Styling*/
.header{
    background: white;
    padding: 0.7rem 1.6rem .80rem 1.6rem;
    border-bottom: 1px solid var(--mild-grey);
}

.header-contained{
    max-width: 92.8rem;
    margin: auto;
    display: flex;
    place-content: space-between;
    align-items: center;
}

.header-logo{
    padding-top: 0.64rem;
}

.header-search-bar{
    padding: .16rem;
    background-color: var(--light-grey);
    border: 1px solid var(--mild-grey);
    width: 23%;
    height: 2rem;
    border-radius: 0.33rem;
    font-family: Arial, FontAwesome, serif;
}

.header-search-bar::placeholder{
    text-align: center;
    color: var(--dark-grey);
}

.header-actions{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    font-size: 1.45rem;
}

.header-actions-login{
    margin-right: 1.4rem;
    background: var(--instagram-blue);
    color: white;
    padding: .48rem 0.8rem 0.64rem 0.8rem;
    border-radius: .45rem;
    font-weight: 550;
}

.header-actions-signup{
    color: var(--instagram-blue);
    font-weight: 550;
}

.profile{
    display: flex;
    padding: 3.2rem 0;
    justify-content: center;
    font-size: 1.59rem;
    margin: 0 auto 1.92rem auto;
}

.profile-picture{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    margin: 0 9.6rem 4rem 6rem;
}

.profile-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 62.4rem;
}

.profile-content-username{
    font-size: 2.72rem;
    font-weight: 300;
    margin-right: 2rem;
}

.profile-content-follow{
    background-color: var(--instagram-blue);
    color: white;
    font-weight: 550;
    padding: 0.48rem 0.8rem 0.32rem 0.80rem;
    border-radius: 0.48rem;
    margin-bottom: 0.64rem;
    font-size: 1.4rem;
}

.profile-content-stats{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin: 1.5rem 0;
}

.profile-content-description{
    display: flex;
    flex-direction: column;
    line-height: 158%;
}

.profile-content-description-heading{
    font-weight: 600;
}

.profile-content-description-account-link{
    color: var(--light-blue)
}

.profile-content-description-external-link{
    color: var(--dark-blue);
    font-weight: bold;
}

.profile-tabbar{
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--mild-grey);
    padding: 0 4.8rem;
    max-width: 82rem;
    margin: auto;
}

.profile-tabbar-tab{
    display: flex;
    margin-right: 4.8rem;
    padding-top: 1.60rem;
}

.profile-tabbar-tab:last-child{
    margin-right: 0rem;
}

.profile-tabbar-tab-selected{
    border-top: 1px solid black;
}

.profile-tabbar-tab-icon{
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.48rem;
}

.profile-tabbar-tab-text{
    letter-spacing: 0.16rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: gray;
}

.profile-tabbar-tab-text-selected{
    color: black;
}

.posts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 1.61rem;
    max-width: 92.8rem;
    margin: auto;
    grid-gap: 1.2rem;
}

.post{
    margin: 0.81rem 0.81rem;
    position: relative;
}

.post:hover .posts-post-info{
    visibility: visible;
    opacity: 1;
}

.posts-post-image{
    width: 290px;
    height: 290px;
    object-fit: cover;
}

.posts-post-info{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
}

.posts-post-info-likes{
    margin-right: 1rem;
}

.posts-post-info-icon{
    margin-right: 0.2rem;
}

/*Style changes for different Screen resolutions */
@media only screen and (max-width: 975px) {
    .posts-post-image{
        width: 250px;
        height: 250px;
    }
}

@media only screen and (max-width: 851px) {
    .posts-post-image{
        width: 220px;
        height: 220px;
    }

    .profile-picture{
        margin-right: 4rem;
    }
}

@media only screen and (max-width: 750px) {
    .posts-post-image{
        width: 200px;
        height: 200px;
    }

    .profile-picture{
        height: 7rem;
        width: 7rem;
        margin-right: 2.5rem;
    }
}

@media only screen and (max-width: 650px) {
    .posts-post-image{
        width: 180px;
        height: 180px;
    }

    .post{
        margin: 0 0;
    }

    .profile-content{
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 590px) {
    .posts-post-image{
        width: 170px;
        height: 170px;
    }
}


